<section class="top-navigation-bar">
  <div class="container">
    <div class="inner-wrapper">
      {%- if section.settings.menu != blank -%}
        <ul class="top-level-menu">
          {% for link in section.settings.menu %}
            <li class="{% if link.links != blank %}has-sub-menu{% endif %}">
              {%- if link.links != blank -%}<div class="menu-group">{%- endif -%}
              <a href="{{link.url}}">{{ link.title }}</a>
              {%- if link.links != blank -%}
                {% render 'icon-chevron-down' %}
                <div class="sub-menu">
                  <ul class="second-level">
                    {%- for childLink in link.links -%}
                      <li class="sub-menu-item">
                        <a href="{{childLink.url}}">{{ childLink.title }}</a>
                      </li>
                    {%- endfor -%}
                  </ul>
                </div>
              {%- endif -%}
              {%- if link.links != blank -%}</div>{%- endif -%}
            </li>
          {% endfor %}
        </ul>
      {%- endif -%}
    </div>
  </div>
</section>

{% schema %}
{
  "name": "Short Navigation",
  "settings": [
    {
      "type": "link_list",
      "id": "menu",
      "label": "Menu",
      "info": "Choose the menu to use for the navigation"
    }
  ],
  "presets": [
    {
      "name": "Short Navigation"
    }
  ]
}
{% endschema %}
