.top-navigation-bar {
    background: #fff;
    width: 100%;
    position: relative;
    z-index: 10;
}

.top-navigation-bar .container {
    max-width: 100%;
    display: flex;
    justify-content: center;
}

.top-navigation-bar .tnb-main-menu {
    display: inline-flex;
    align-items: center;
    justify-items: center;
    list-style: none;
    padding: 0;
    margin: 0;
}

.top-navigation-bar .tnb-main-menu > li {
    padding-right: 15px;
    padding-left: 15px;
    height: 45px;
}
.top-navigation-bar .tnb-main-menu li:first-child {
    padding-left: 0;
}
.top-navigation-bar .tnb-main-menu li:last-child {
    padding-right: 0;
}
.top-navigation-bar .tnb-main-menu > li > a,
.top-navigation-bar .tnb-main-menu > li > .menu-group > a {
    text-decoration: none;
    color: rgba(34, 34, 34, 1);
    font-size: 14px;
    line-height: 45px;
    font-family: 'Poppins', sans-serif;
    font-weight: 400;
}

.top-navigation-bar .tnb-main-menu > li > a:hover,
.top-navigation-bar .tnb-main-menu > li > a:focus,
.top-navigation-bar .tnb-main-menu > li > .menu-group > a:hover,
.top-navigation-bar .tnb-main-menu > li > .menu-group > a:focus {
    color: #56cfe1;
} 

.top-navigation-bar .tnb-main-menu > li.has-sub-menu .menu-group {
    padding-right: 24px;
    position: relative;
}

.top-navigation-bar .tnb-main-menu > li.has-sub-menu .menu-group svg {
    width: 18px;
    height: 18px;
    position: absolute;
    top: calc(50% - 9px);
    right: 0;
    transform-origin: center;
    transition: all 0.2s ease-out;
}
.top-navigation-bar .tnb-main-menu > li.has-sub-menu .menu-group:hover svg,
.top-navigation-bar .tnb-main-menu > li.has-sub-menu .menu-group:focus svg {
    transform: rotate(180deg);
}

.top-navigation-bar .tnb-sub-menu {
    display: none;
    list-style: none;
    padding: 0;
    margin: 0;
    position: absolute;
    top: 100%;
    left: 0;
    width: 180px;
    background: #fff;
}

.top-navigation-bar .tnb-sub-menu > li a{
    font-size: 14px;
    line-height: 20px;
    color: rgba(34, 34, 34, 1);
    font-family: 'Poppins', sans-serif;
    padding: 5px 15px;
    display: block;
}
.top-navigation-bar .tnb-sub-menu > li a:hover,
.top-navigation-bar .tnb-sub-menu > li a:focus {
    color:#56cfe1;
}

/* Mobile */
.top-navigation-bar .mob-main-toggle {
    display: none;
    position: relative;
    padding: 10px 48px 10px 15px;
    width: 100%;
}
.top-navigation-bar .mob-main-toggle h4 {
    font-size: 26px;
    line-height: 32px;
    font-family: 'Poppins', sans-serif;
    font-weight: 700;
}
.top-navigation-bar .mob-main-toggle svg {
    position: absolute;
    right: 15px;
    top: calc(50% - 16px);
    width: 32px;
    height: 32px;
    transform-origin: center;
    transition: all 0.2s ease-out;
}
@media (max-width: 1100px) {
    .top-navigation-bar .mob-main-toggle {
        display: block;
    }
    .top-navigation-bar .tnb-main-menu {
        display: none;
        width: 100%;
    }
    .top-navigation-bar .tnb-main-menu > li {
        border-bottom: 1px solid rgb(34,34,34);
    }
    .top-navigation-bar .tnb-main-menu > li:not(.has-sub-menu) {
        padding: 7px 15px!important;
    }
    .top-navigation-bar .tnb-main-menu > li .menu-group {
        width: 100%;
        padding: 7px 15px!important;
    }
    .top-navigation-bar .tnb-main-menu > li:last-child {
        border-bottom: none;
    }
    .top-navigation-bar .tnb-main-menu > li,
    .top-navigation-bar .tnb-main-menu > li .menu-group {
        padding: 0;
    }
    .top-navigation-bar .tnb-main-menu > li > a,
    .top-navigation-bar .tnb-main-menu > li .menu-group > a {
        line-height: 24px;
        display: inline-block;
    } 
    .top-navigation-bar .tnb-sub-menu {
        width: calc(100% + 30px);
        left: -15px;
        position: relative!important;
    }
}