.top-navigation-bar {
    background: #fff;
    width: 100%;
    position: relative;
}

.top-navigation-bar .container {
    max-width: 100%;
    display: flex;
    justify-content: center;
}

.top-navigation-bar .tnb-main-menu {
    display: inline-flex;
    align-items: center;
    justify-items: center;
}

.top-navigation-bar .tnb-main-menu > li {
    padding-right: 15px;
    padding-left: 15px;
    height: 45px;
}
.top-navigation-bar .tnb-main-menu li:first-child {
    padding-left: 0;
}
.top-navigation-bar .tnb-main-menu li:last-child {
    padding-right: 0;
}
.top-navigation-bar .tnb-main-menu > li > a,
.top-navigation-bar .tnb-main-menu > li > .menu-group > a {
    text-decoration: none;
    color: rgba(34, 34, 34, 1);
    font-size: 14px;
    line-height: 45px;
    font-family: 'Poppins', sans-serif;
    font-weight: 400;
}

.top-navigation-bar .tnb-main-menu > li.has-sub-menu .menu-group {
    padding-right: 24px;
    position: relative;
}

.top-navigation-bar .tnb-main-menu > li.has-sub-menu .menu-group svg {
    width: 18px;
    height: 18px;
    position: absolute;
    top: 50%;
    transform: translateY(-50%);
    right: 15px;
    transform-origin: center;
}
.top-navigation-bar .tnb-main-menu > li.has-sub-menu .menu-group:hover svg,
.top-navigation-bar .tnb-main-menu > li.has-sub-menu .menu-group:focus svg {
    transform: rotate(180deg) translateY(-50%);
}
